<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="changmin">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title></title>
</head>
<body>
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="index">
                <i class="bi bi-grid"></i>
                <span>Index</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li th:if="${session.userId ne null}" class="nav-item">
            <a class="nav-link collapsed" href="vocaInput">
            								
                <i class="bi bi-grid"></i>
                <span>VocaInput</span>
            </a>
        </li>
        <li class="nav-item">

            <a th:if="${session.userId ne null}" class="nav-link collapsed" th:href="@{/vocaTable(userId=${session.userId}, page=1)}">
                <i class="bi bi-grid"></i>
                <span>VocaTable</span>
            </a>
            <a th:if="${session.userId eq null}" class="nav-link collapsed" href="vocaTable?userId= &page=1">
                <i class="bi bi-grid"></i>
                <span>VocaTable</span>
            </a>
        </li>
        <li th:if="${session.userId eq null}" class="nav-item">
            <a class="nav-link collapsed" href="mJoin">
                <i class="bi bi-grid"></i>
                <span>Join</span>
            </a>
        </li>
        <li th:if="${session.userId eq null}" class="nav-item">
            <a class="nav-link collapsed" href="mLogin">
                <i class="bi bi-grid"></i>
                <span>Login</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="sentenceTraining">
                <i class="bi bi-grid"></i>
                <span>sentenceTraining</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="stcTraining">
                <i class="bi bi-grid"></i>
                <span>stcTraining</span>
            </a>
        </li>
        

<!--        <li class="nav-item">-->
<!--            <a class="nav-link collapsed" href="test">-->
<!--                <i class="bi bi-grid"></i>-->
<!--                <span>test</span>-->
<!--            </a>-->
<!--        </li>-->

    </ul>

</aside><!-- End Sidebar-->
</body>
</html>