<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Dashboard - NiceAdmin Bootstrap Template</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/img/favicon.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap2.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css"
	rel="stylesheet">
<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/css/style.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

<style>
.card-title {
	font-size: 30px;
}

.card-title>span {
	font-size: 18px;
}

.card {
	min-height: 300px;
}

.btn {
	color: #012970;
	font-size:25px;
	font-family:"Nunito", sans-serif;
  	font-weight:700;
  	border: none;
  	background-color:;
}

.btnCard{
	min-height:0px;
	display:block; 
	padding:20px;
	
}
.btn:hover{
	color: #012970;
	
}

.cardInto{
	color: #012970;
	font-size:20px;
	font-family:"Nunito", sans-serif;
  	font-weight:600;
}


</style>


</head>

<body>

	<header data-th-include="./personalHeader.html"></header>
	<!-- ======= Header ======= -->

	<header data-th-include="./personalSidebar.html"></header>
	<!-- ======= Sidebar ======= -->


	<main id="main" class="main">
				
 
		<div class="col-lg-12">
			<div class="card btnCard">
					
			<button type="button" class="btn " >attribute</button>
			<button type="button" class="btn " >fault</button>
			<button type="button" class="btn " >blame</button>
			
			<button type="button" class="btn ">blameworthy</button>
			<button type="button" class="btn ">ascribe</button>
			<button type="button" class="btn ">blame</button>
			<button type="button" class="btn ">impute</button>
		
		<!-- End Page Title -->
		</div>
		</div>

		<section class="section dashboard">

			<div class="row">

				<!-- Sales Card -->
				<div class="col-lg-3">
					<div class="card partCard">

						<div class="card-body">
							<h5 class="card-title" style="color: #d8d83d;">
								Noun <span>| 명사</span>
							</h5>

							<div class="cardInto"></div>
							
						</div>

					</div>
				</div>

				<div class="col-lg-3">
					<div class="card partCard">

						<div class="card-body">
							<h5 class="card-title" style="color: #d35959;">
								Verb <span>| 동사</span>
							</h5>

							<div class="cardInto"></div>
						</div>

					</div>
				</div>
				<div class="col-lg-3">
					<div class="card partCard">

						<div class="card-body">
							<h5 class="card-title" style="color: #3d843d;">
								adj <span>| 형용사</span>
							</h5>

							<div class="cardInto"></div>
						</div>

					</div>
				</div>
				<div class="col-lg-3">
					<div class="card partCard">

						<div class="card-body">
							<h5 class="card-title" style="color: #efa3b0;">
								adv <span>| 부사</span>
							</h5>

							<div class="d-flex align-items-center cardInto"></div>
						</div>

					</div>
				</div>

			</div>
		</section>

	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights
			Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/chart.js/chart.umd.js"></script>
	<script src="/vendor/echarts/echarts.min.js"></script>
	<script src="/vendor/quill/quill.min.js"></script>
	<script src="/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/vendor/tinymce/tinymce.min.js"></script>
	<script src="/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
	<script th:inline="javascript">

	
	let btnOld = null;
	let btn = null;
	
	let eX = 0;
	let eY = 0;
		
	let card = [];
	let cardX1 = 0;
	let cardX2 = 0;
	let cardY1 = 0;
	let cardY2 = 0;
	
	
		$('.btn').mousedown(function() {
	        
	        
	        $('body').append('<button type="button" class="btn btnOn" >'+ $(this).html() +'</button>');
	        
	        
	      	btnOld = $(this);
	      	btnOld.css('visibility', 'hidden');
	       	
	      	
	        btn = $('.btnOn');
	        
	        btn.css('position','absolute');
	        btn.css('left', eX + 'px');
	        btn.css('top', eY + 'px');
	        
	        
	        
	        for(let i = 0; i < $('.partCard').length; i++){
	        	
	        	card[i] = [parseInt($('.partCard').eq(i).offset().left), parseInt($('.partCard').eq(i).offset().left)+ parseInt($('.partCard').eq(i).width()),
	        		parseInt($('.partCard').eq(i).offset().top), parseInt($('.partCard').eq(i).offset().top)+ parseInt($('.partCard').eq(i).height())];
	        }
	        
	        
	        $('.btn').mouseup(function(){
				
	        	
				for(let i = 0; i < $('.partCard').length; i++){
					
					if(eX >= card[i][0] && eX <= card[i][1] && eY >= card[i][2] && eY <= card[i][3]){
						
						let dupBool = false;
						
						for(let j = 0; j < $('.cardInto').eq(i).find('div').length; j++){
							
							if($('.cardInto').eq(i).find('div').eq(j).html() == btn.html()){
								dupBool= true;
							}
						}
					
						if(!dupBool){
							$('.cardInto').eq(i).append('<div>' + btn.html() + '</div>');
							btn.remove();
							break;
						}else{
							btn.remove();
							btnOld.css('visibility', 'initial');
							if($('.alert').length){
								
							}else{
								$('.main').prepend('<div class="alert alert-danger alert-dismissible fade show" role="alert" style="position:absolute; z-index:1000; left: 50%; top:10px;">' 
				                		+ '단어가 중복되었습니다.'
				                + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ></button>'
				              + '</div>');
							}
							
							break;
						}
						
					}
					
					if(i == $('.partCard').length-1){
						btn.remove();
						btnOld.css('visibility', 'initial');
					}
						
						
				}
				
				btn = null;
			});
	    });
	
		
		
		
		
		
		window.addEventListener('mousemove', function (e) {
	        
			eX = e.pageX -20;
			eY = e.pageY -20;
			
			if(btn != null){
				
				btn.css('left', eX + 'px');
		        btn.css('top', eY + 'px');
			}
			
			 
			
			
	    }) 

	</script>
</body>
	



</html>