<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forms / Elements - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<header data-th-include="./personalHeader.html"></header>
<!-- ======= Header ======= -->

<header data-th-include="./personalSidebar.html"></header>
<!-- ======= Sidebar ======= -->
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Voca Modify</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body ">
              <div class="row mb-3" style="margin-top: 1vh;">
                <div class="col-md-2">
                  <input type="text" autocomplete="off" id="tbName" class="form-control" th:value="${voca.get(0).voTbName}" placeholder="Table Name">
                </div>
              </div>
              <!-- General Form Elements -->
              <form>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-1 col-form-label"> </label>
                  <label for="inputText" class="col-sm-5 col-form-label">영단어</label>
                  <label for="inputText" class="col-sm-5 col-form-label">한글 뜻 (여러 개 일경우 ' , ' 로 구분)</label>
                </div>

                <div class="row mb-3" th:each="i : ${#numbers.sequence(0, voca.size -1)}">
                  <label for="inputText" class="col-sm-1 col-form-label">[[${i+1}]].</label>
                  <div class="col-sm-5">
                    <div hidden="hidden" th:id="voNum+${i}">[[${voca.get(i).voNum}]]</div>
                    <div hidden="hidden" th:id="modiSp+${i}">[[${voca.get(i).voSp}]]</div>
                    <input type="text" autocomplete="off" class="form-control spel" th:value="${voca.get(i).voSp}" th:id="spel+${i}" placeholder="spelling">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" autocomplete="off" class="form-control hw" th:value="${voca.get(i).voHw}" th:id="hw+${i}" placeholder="한글 뜻">
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-10">
                    <input type="button" onclick="vocaModify()" class="btn btn-primary" value="수정 완료">
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
        crossorigin="anonymous"></script>
  <script th:inline="javascript">

    let dirNum = [[${voca.get(0).voDirNum}]];

    function vocaModify(){
      let input = "";
      let length = $('.spel').length;

      for(let i = 0; i < length; i++){

        if($('#modiSp'+(i)).html() == $('#spel'+(i)).val()){
          input += $('#voNum'+(i)).html() + "*" + 0 + "@" +  $('#spel'+(i)).val() + "/" + $('#hw'+(i)).val() +"_";
        }else{
          input += $('#voNum'+(i)).html() + "*" + 1 + "@" +  $('#spel'+(i)).val() + "/" + $('#hw'+(i)).val() +"_";
        }

      }

      if($('#tbName').val()== null || $('#tbName').val() == ""){
        $('#tbName').val(new Date().toLocaleString());
      }

      location.href = "vocaModify?tbName="+ $('#tbName').val() +"&dirNum="+ dirNum +"&input="+input;
    }



    function insertHtmlFun(nodeTemp, htmlTemp) {
      // removeAllChild(nodeTemp);
      nodeTemp.insertAdjacentHTML("beforeend", htmlTemp);
    }

    function removeAllChild(nodeTemp) {
      while (nodeTemp.hasChildNodes()) { nodeTemp.removeChild(nodeTemp.lastChild);
      }
    }

  </script>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>