<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / General - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

<style>

  .hw{
    color: white;
  }

  .table-hover>tbody>tr:hover>.hw{
    color:#ECECEC;
  }

  .table-hover>tbody>tr:hover>.hw:active{
    color: black;
  }

  .divCard1{
    position: absolute;
    z-index: 11111;
    margin: 50px;
  }

	
  .bx{
  	font-size:1.5rem;
  	padding-right:15px;
  	line-height:0;
  	
  }
  .border-light {
  	
  }
  
  a{
  font-family:initial;
   color:rgba(0, 0, 0, 1);
  }



</style>


</head>

<body>

<header data-th-include="./personalHeader.html"></header>
<!-- ======= Header ======= -->


<header data-th-include="./personalSidebar.html"></header>
<!-- ======= Sidebar ======= -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Voca Table</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">[[${voca.get(0).voTbName}]]
                
                <button th:if="${session.userId eq null}" id="cardBtn" type="button" class="btn btn-danger btn-sm" style="margin-left: 10px; float: revert;" onclick="vocaCard(0)">
                  그림카드
                </button>
                <button th:if="${session.userId ne null}" id="cardBtn" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#basicModal2" style="margin-left: 10px; float: revert;">
                  그림카드
                </button>
                <div class="modal fade" id="basicModal2" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">범위를 선택하세요.</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-footer">
                        <button style="float: left;" type="button" class="btn btn-primary" onclick="vocaCard(0)">모든 단어</button>
                        <button style="float: left;" type="button" class="btn btn-primary" onclick="vocaCard(1)">외운 단어 제외</button>
                      </div>
                    </div>
                  </div>
                </div><!-- End Basic Modal-->

                
                <button th:if="${session.userId eq null}" id="tenBtn" type="button" class="btn btn-danger btn-sm" style="margin-left: 5px; float: revert; background-color: #fd7e14; border-color: #fd7e14;" onclick="vocaTenQuiz(0)">
                  십자 말풀이
                </button>
                <button th:if="${session.userId ne null}" id="tenBtn" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#basicModal3" style="margin-left: 5px; float: revert; background-color: #fd7e14; border-color: #fd7e14;">
                  십자 말풀이
                </button>
                <div class="modal fade" id="basicModal3" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">범위를 선택하세요.</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-footer">
                        <button style="float: left;" type="button" class="btn btn-primary" onclick="vocaTenQuiz(0)">모든 단어</button>
                        <button style="float: left;" type="button" class="btn btn-primary" onclick="vocaTenQuiz(1)">외운 단어 제외</button>
                      </div>
                    </div>
                  </div>
                </div><!-- End Basic Modal-->
				<button id="mmrBtn" type="button" class="btn btn-primary btn-sm" style="margin-left: 5px; float: revert;" onclick="vocaMemorize()">
                  단어 암기
                </button>
              <button th:if="${session.userId eq ownerId}" type="button" id="modBtn" th:onclick="location.href='vocaModiForm?dirNum=[[${voca.get(0).voDirNum}]]'" class="btn btn-success" style="float: right;">수정하기</button>
              </h5>
              <h1 id="checkH" class="card-title" style="margin: 2px; padding: 2px;">
                <button th:if="${session.userId ne null}" type="button" onclick="remCheck()" class="btn btn-outline-primary btn-sm btnTog" style="float: revert;" data-bs-toggle="tooltip" data-bs-placement="top" title="체크 시 단어가 제외 됩니다.">외운 단어 체크</button>
                <button th:if="${session.userId ne null}" type="button" id="delBtn" onclick="delCheck()" class="btn btn-outline-danger btn-sm btnTog" style="float: revert; margin-left: 10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="외운 단어를 제거합니다." >외운 단어 제거</button>
                <button type="button" id="addBtn" onclick="addCheck()" class="btn btn-outline-warning btn-sm" style="float: revert; margin-left: 10px; display: none;">모든 단어 표시</button>

              </h1>
              <!-- Default Table -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">spelling</th>
                    <th scope="col">한글 뜻 <button type="button" onclick="hwHide()" style="margin-left: 10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="빈 곳 클릭 시 뜻을 볼 수 있습니다." class="btn btn-warning btn-sm btnTog">뜻 가리기</button></th>
                  </tr>
                </thead>
                <tbody id="tbBody">
                <tr th:each="voca : ${voca}">
             
                  <th th:id="voCount+${vocaStat.count}">[[${vocaStat.count}]]</th>
                  <td class="tbDiv">[[${voca.voSp}]]</td>
                  <td class="hw0" >[[${voca.voHw}]]</td>
                  <td hidden="hidden" th:id="voNum+${vocaStat.count}">[[${voca.voNum}]]</td>
				
				
                </tr>

                </tbody>

              </table>
              <!-- End Default Table Example -->
              <div id="lastBtn">
                
                <button th:if="${session.userId eq null}" id="testBtn" type="button" class="btn btn-danger" onclick="vocaTest(0)">
                  시험보기
                </button>
                <button th:if="${session.userId ne null}" id="testBtn" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal" >
                  시험보기
                </button>
                <div class="modal fade" id="basicModal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">시험 범위를 선택하세요.</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-footer" >
                        <button style="float: left;" type="button" class="btn btn-primary" onclick="vocaTest(0)">모든 단어</button>
                        <button style="float: left;" type="button" class="btn btn-primary" onclick="vocaTest(1)">외운 단어 제외</button>
                      </div>
                    </div>
                  </div>
                </div><!-- End Basic Modal-->

              </div>
            </div>
          </div>


        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.umd.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

<script src="https://code.jquery.com/jquery-3.6.1.js"></script>

  <script th:inline="javascript">

  let hwBool= false;
  let dirNum = [[${voca.get(0).voDirNum}]];
  let vocaTot = [[${voca}]];
  let vocaCheck = [[${vocaCheck}]];

  console.log(vocaCheck);

  function hwHide(){
    if(hwBool){
      $('.hw0').removeClass("hw");
      $('.table').unbind();
      $('.btnTog').attr("data-bs-original-title", "빈 곳 클릭 시 뜻을 볼 수 있습니다.");

      hwBool=false;
    }else{
      $('.hw0').addClass("hw");
      $('.table').bind("selectstart",function (e){e.preventDefault();});
      $('.table').bind("dragstart", function (e){e.preventDefault();});
      $('.table').bind("contextmenu", function (e){e.preventDefault();});
      $('.btnTog').removeAttr("data-bs-original-title");
      hwBool=true;
    }
  }

  let checkBool = false;

  function remCheck(){

    if(checkBool == true){
      checkBool = false;
      $('#cardBtn').css({'visibility' : 'visible'});
      $('#tenBtn').css({'visibility' : 'visible'});
      $('#modBtn').css({'visibility' : 'visible'});
      $('#testBtn').css({'display' : 'initial'});
      $('#delBtn').css({'display' : 'initial'});
      $('.checkBtn').remove();
      $('.checkBox').remove();
      return;
    }

    let tbInput = '';

    for(let i = 0; i < vocaTot.length; i++){
      tbInput += '<tr>\n' +
              '      <th id="voCount'+ (i+1)+'" scope="row">'+ (i+1) +'</th>\n' +
              '      <td>'+ vocaTot[i].voSp +'</td>\n' +
              '      <td class="hw0">'+ vocaTot[i].voHw +'</td>\n' +
              '      <td hidden="hidden" id="voNum'+ (i+1)+'">'+ vocaTot[i].voNum +'</td>\n' +
              '    </tr>';
    }
    $('#tbBody').html(tbInput);

    checkBool = true;
    $('#cardBtn').css({'visibility' : 'hidden'});
    $('#tenBtn').css({'visibility' : 'hidden'});
    $('#modBtn').css({'visibility' : 'hidden'});
    $('#testBtn').css({'display' : 'none'});
    $('#delBtn').css({'display' : 'none'});
    $('#addBtn').css({'display' : 'none'});

    $('#checkH').append('<button type="button" onclick="checkSave()" class="btn btn-outline-success btn-sm checkBtn" style="margin-left: 10px; float: revert;" >저장하기</button>')
    $('#lastBtn').append('<button type="button" onclick="checkSave()" class="btn btn-outline-success btn-sm checkBtn" style="margin-left: 10px; float: revert;" >저장하기</button>')
    for(let i = 0; i < vocaTot.length; i++){
      
    	
    	if(vocaTot[i].voCheck == 0){
        $('#voCount'+(i+1)).append('<input class="form-check-input checkBox" type="checkbox" name="ckList" id="voCheck'+ (i+1) +'" style="width: 30px; height: 30px; margin: 0px; margin-left: 15px;">');
      }else{
        $('#voCount'+(i+1)).append('<input class="form-check-input checkBox" type="checkbox" name="ckList" id="voCheck'+ (i+1) +'" checked="checked" style="width: 30px; height: 30px; margin: 0px; margin-left: 15px;">');
      }
    }

    // <input class="form-check-input" type="checkbox" id="gridCheck2" checked="">
  }

  function delCheck(){

    $('#addBtn').css({'display' : 'initial'});
    $('#delBtn').css({'display' : 'none'});
    $('.tooltip').remove();

    let tbInput = '';

    for(let i = 0; i < vocaCheck.length; i++){
      tbInput += '<tr>\n' +
              '      <th id="voCount'+ (i+1)+'" scope="row">'+ (i+1) +'</th>\n' +
              '      <td>'+ vocaCheck[i].voSp +'</td>\n' +
              '      <td class="hw0">'+ vocaCheck[i].voHw +'</td>\n' +
              '      <td hidden="hidden" id="voNum'+ (i+1)+'">'+ vocaCheck[i].voNum +'</td>\n' +
              '    </tr>';
    }
    $('#tbBody').html(tbInput);
  }

  function addCheck(){

    $('#addBtn').css({'display' : 'none'});
    $('#delBtn').css({'display' : 'initial'});
    $('.tooltip').remove();

    let tbInput = '';

    for(let i = 0; i < vocaTot.length; i++){
      tbInput += '<tr>\n' +
              '      <th id="voCount'+ (i+1)+'" scope="row">'+ (i+1) +'</th>\n' +
              '      <td>'+ vocaTot[i].voSp +'</td>\n' +
              '      <td class="hw0">'+ vocaTot[i].voHw +'</td>\n' +
              '      <td hidden="hidden" id="voNum'+ (i+1)+'">'+ vocaTot[i].voNum +'</td>\n' +
              '    </tr>';
    }
    $('#tbBody').html(tbInput);

  }

  function checkSave(){
    checkBool = false;
    $('#cardBtn').css({'visibility' : 'visible'});
    $('#tenBtn').css({'visibility' : 'visible'});
    $('#modBtn').css({'visibility' : 'visible'});
    $('#testBtn').css({'display' : 'initial'});
    $('#delBtn').css({'display' : 'initial'});


    let checkInput = "_";

    for(let i = 0; i < $('.hw0').length; i++){
      let voCheck = 0;
      if($('#voCheck'+ (i+1)).is(":checked")){ voCheck=1; };
      checkInput += $('#voNum'+(i+1)).html() + "/" + voCheck +"_";
    }
    $('.checkBtn').remove();
    $('.checkBox').remove();

    $.ajax({
      type : "POST",
      url : "checkSave",
      data : {
        "input" : checkInput,
        "dirNum" : dirNum
      },
      dataType : "json" ,
      success : function(data){
        vocaCheck = data[0];
        vocaTot = data[1];
		
      },
      error : function(){
        alert("체크 저장 통신 실패!");
      }
    });

  }

  function vocaTest(num){
    location.href='vocaTest?dirNum='+ dirNum +'&level=1&type='+num;
  }

  function vocaCard(num){
    location.href='vocaCard?dirNum='+ dirNum +'&type='+num;
  }

  function vocaTenQuiz(num){
    location.href='vocaTenQuiz?dirNum='+ dirNum +'&type='+num;
  }
  
  function vocaMemorize(){
	    location.href='vocaMemorize?dirNum='+ dirNum;
  }
  
  
  
  /*
  let divCard = '';
  let tbDiv0 = null;
  
  $('.tbDiv').hover(function (e){

	  //let aIdNumber = $(this).html().toString().substring($(this).html().toString().indexOf('>')+1, $(this).html().toString().indexOf('<',3));

	    if(tbDiv0 != this){
	    $('.divCard1').remove();
	    divCard= '';
	    }

	    
	    $(".spinner-border").css({"width" : "20px"});
	    $(".spinner-border").css({"height" : "20px"});
	    $(".spinner-border").css({"background-color" : "#0d6efd"});
	    $(".spinner-border").removeClass("spinner-border text-primary");

	    $(this).addClass("spinner-border text-primary");
	    $(this).css({"display" : "block"});
	    $(this).css({"background-color" : "white"});
	    $(this).css({"width" : "10px"});
	    $(this).css({"height" : "10px"});
	    

	    let aa = Math.round($('.section').offset().left);
	    let bb = Math.round($(this).offset().left);
	    let cc = Math.round($(this).offset().top);
	    let dd = Math.round(e.screenY);
	    let ee = Math.round($(this).innerHeight());
	    let ee1 = Math.round($(this).outerHeight());
	    console.log(ee);
	    console.log(ee1);

	    if(tbDiv0 != this){
	    if((bb-aa) >= 420){

	      if(divCard == ''){
	        divCard += '<div class="alert alert-light border-light alert-dismissible fade show divCard1" style="left: '+ (aa + (bb-aa -435)) +'px; top: '+ (cc-10) +'px;" role="alert">\n' +
	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Meet the Women Launching, Recovering Artemis Missions</a>' +
	                '      <hr>\n' +
	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Australia and UK sign defense and security treaty to meet "contemporary challenges"</a>' +
	                '      <hr>\n' +
	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">The DH Meet-Up: Podcasting and the VR Classroom Recap</a>' +
	                '      <hr>\n' +
	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">NC bars have longer to meet food inspection rules</a>' +
	                '      <hr>\n' +
	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Community meet and greet held for City of Sparks Manager candidates</a>' +
	                '      <button id="divCard" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onmousedown="divCardClose()"></button>\n' +
	                '    </div>';
	        $('#main').append(divCard);
	      }
	    }else{

	      if(divCard == '') {
	        if (dd <= 500) {
	          divCard += '<div class="alert alert-light border-light alert-dismissible fade show divCard1" style="left: ' + (bb + 15) + 'px; top: ' + (cc -10) + 'px;" role="alert">\n' +
	          			 '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Meet the Women Launching, Recovering Artemis Missions</a>' +
              			 '      <hr>\n' +
              			'      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Australia and UK sign defense and security treaty to meet "contemporary challenges"</a>' +
    	                '      <hr>\n' +
    	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">The DH Meet-Up: Podcasting and the VR Classroom Recap</a>' +
    	                '      <hr>\n' +
    	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">NC bars have longer to meet food inspection rules</a>' +
    	                '      <hr>\n' +
    	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Community meet and greet held for City of Sparks Manager candidates</a>' +
	                  '      <button id="divCard" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onmousedown="divCardClose()"></button>\n' +
	                  '    </div>';
	          $('#main').append(divCard);
	        } else {
	          divCard += '<div class="alert alert-light border-light alert-dismissible fade show divCard1" style="left: ' + (bb + 15) + 'px; top: ' + (cc - 338) + 'px;" role="alert">\n' +
	          			'      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Meet the Women Launching, Recovering Artemis Missions</a>' +
              			'      <hr>\n' +
              			'      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Australia and UK sign defense and security treaty to meet "contemporary challenges"</a>' +
    	                '      <hr>\n' +
    	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">The DH Meet-Up: Podcasting and the VR Classroom Recap</a>' +
    	                '      <hr>\n' +
    	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">NC bars have longer to meet food inspection rules</a>' +
    	                '      <hr>\n' +
    	                '      <a href="www.naver.com"><i class="bx bx-news"></i></a><a href="www.naver.com">Community meet and greet held for City of Sparks Manager candidates</a>' +
	                  '      <button id="divCard" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onmousedown="divCardClose()"></button>\n' +
	                  '    </div>';
	          $('#main').append(divCard);
	        }
	      }
	    }
	    }

	    tbDiv0 = this;

	  }
	  );
  
	//예외처리(초기화)
  $('.section').on({
    'click': function (e) {

      tbDiv0 = null;
      $('#divCard').click();
      divCard= '';
      
     
    }
  });
  $(document).keydown(function (e) {
    if (e.keyCode == 27 || e.which == 27) {
      tbDiv0 = null;
      $('#divCard').click();
      divCard= '';
      
      
    }
  });
	
  */

</script>

</body>

</html>