<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	[1] namespace >> dao 파일 경로
	[2] id >> dao interface의 추상메소드 이름
	[3] alias >> dto class에서 설정한 alias 
 -->

<mapper namespace="com.personal.voca.dao.MemberDAO">

    <!--아이디 체크-->
    <select id="mCheckID" parameterType="String" resultType="String">
        SELECT MEMID FROM MEMBERT WHERE MEMID = #{memId}
    </select>


    <insert id="mJoin" parameterType="member">
        INSERT INTO MEMBERT VALUES (#{memId}, #{memPw},#{memEmail},SYSDATE)
    </insert>

    <select id="mView" resultType="member" parameterType="String">
        SELECT * FROM MEMBERT WHERE MEMID=#{memId}
    </select>

    <select id="mLogin" resultType="member" parameterType="member">
        SELECT * FROM MEMBERT WHERE MEMID=#{memId}
    </select>




</mapper>